@{
    ViewData["Title"] = "Create Account";
}

<h3>@ViewData["Message"]</h3>

<form method="POST" action="@Url.Action("VerifyCreate", "Bank")">
    <h3>Create New Account</h3>
    <label>Account Number:</label>
    <input type="text" name="AccountNumber"><br>
    <label>Full Name:</label>
    <input type="text" name="Name"><br>
    <label>User Name:</label>
    <input type="text" name="UserName"><br>
    <label>Password:</label>
    <input type="text" name="Password"><br>
    <input type="submit">
</form>
