@model BankLedgerMVC.Models.Account
@{
    ViewData["Title"] = "Transaction";
}

<h3>@ViewData["Message"]</h3>

@if (@Model != null)
{
    <div class="container">
        <h4>Name: @Model.Name</h4>
        <h4>Username: @Model.UserName</h4>
        <h4>Available Balance: $@Model.Balance</h4>
    </div>
}

<form method="POST" action="@Url.Action("VerifyTransaction", "Bank")">
    <label>Amount: $</label>
    <input type="text" name="TransactionAmount"><br>
    <label>Transaction:</label>
    <select name="TransactionType">
        <option value="Withdraw">Withdraw</option>
        <option value="Deposit">Deposit</option>
    </select><br>
    <input type="submit">
</form>
